#!/bin/sh
# 
#######################
#### Configuration ####
#######################

# git repository git url
#gitrepoaddr=$(echo "git://gitorious.org/defcad/defcad-repo.git")
#gitrepoaddr=$(echo "https://github.com/maduce/defcad-repo.git")

# MegapackZip folder. USE EXACT PATH! Home folder by default.
megapackzipfolder=$(echo "$HOME/defcad-host")

#sqlite3 database
partsdb=$(echo "$megapackzipfolder/partsdb.db")

# Local path to git repository folder
gitdirectory=$(echo "$megapackzipfolder/defcad-repo")

# Define the location where the zipped files will me stored.
gitziprepo=$(echo "$megapackzipfolder/web/www/zippedpack")

# Define git user. This is the user used to run the script and
# git clone the repos. This is here for cron functionality.
# The default is $USER.
gituser=$(echo "$USER")

# Web server user.  
# The default is the user running the script. Comment out the
# webuser=$(echo "$USER") and uncomment webuser=$(echo "www-data") if
# you would like to write to a web directory (i.e., /var/www/zippedpack).
# If you wish to keep the zippedpack folder in in defcad-host/web/www/
# then you do not need to change anything here.
#webuser=$(echo "www-data")
webuser=$(echo "$USER")

# Hidden file used at runtime.
partlist=$(echo "$megapackzipfolder/.current_parts_list.lst")

# Predefine category list for Megapack. Is listed at bottom of README.md
partcategories=$(echo "$megapackzipfolder/.part_categories.lst")
